### Summary

I'll be doing a simple classification problem demo to highlight the steps for machine learning
So this demo is about classify if a person survived in the titanic incident. I'll be using the data from kaggle (https://www.kaggle.com/c/titanic/data)
Also i'll be doing this demo in python with these particular packages library.
There are other library and also in other languages such as R to do some machine learning

### Exploring the data

ok the first step is look at what data we have, so let have look at the first few row
so each row would represent a person in the titanic and each column would be the feature
We can see that some feature are in numerical value while some are in string. Also some column doesn't have value

In [14]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

def print_initial_summary(combined):
    print(combined.head(10))
    print("")
    print(combined.describe())
    print("")
    print(combined.info())

# reading train data
train = pd.read_csv('dataset/titanic/train.csv')

# reading test data
test = pd.read_csv('dataset/titanic/test.csv')

# extracting and then removing the targets from the training data
targets = train.Survived
train.drop('Survived', 1, inplace=True)

# merging train data and test data for future feature engineering
combined = train.append(test)
combined.reset_index(inplace=True)
combined.drop('index', inplace=True, axis=1)

print_initial_summary(combined)

   PassengerId  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
5            6       3                                   Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
6            7       1                            McCarthy, Mr. Timothy J    male  54.0      0      0             17463  51.8625   E46        S
7            8       3                     Palsson, Master. Gosta Leonard    male   2.0      3      1            349909  21.0750   NaN        S
8            9       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
9           10       2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C

       PassengerId       Pclass          Age        SibSp        Parch         Fare
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000  1308.000000
mean    655.000000     2.294882    29.881138     0.498854     0.385027    33.295479
std     378.020061     0.837836    14.413493     1.041658     0.865560    51.758668
min       1.000000     1.000000     0.170000     0.000000     0.000000     0.000000
25%     328.000000     2.000000    21.000000     0.000000     0.000000     7.895800
50%     655.000000     3.000000    28.000000     0.000000     0.000000    14.454200
75%     982.000000     3.000000    39.000000     1.000000     0.000000    31.275000
max    1309.000000     3.000000    80.000000     8.000000     9.000000   512.329200

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB
None

In [15]:
# lets fill in the missing value for ages. a simple approach will be taking the median and put into the missing slot
combined['Age'].fillna(combined['Age'].median(), inplace=True)
combined['Fare'].fillna(combined['Fare'].median(), inplace=True)
combined["Embarked"].fillna("S", inplace=True)

# encode the non numerical value
embarked_dummies = pd.get_dummies(combined['Embarked'], prefix='Embarked')
combined = pd.concat([combined, embarked_dummies], axis=1)
combined.drop('Embarked', axis=1, inplace=True)

sex_dummies = pd.get_dummies(combined['Sex'], prefix='Sex')
combined = pd.concat([combined, sex_dummies], axis=1)
combined.drop('Sex', axis=1, inplace=True)

def process_title(name):
    title = name.split(',')[1].split('.')[0].strip()
    white_list = ['Mr', 'Mrs', 'Miss', 'Master', 'Lady', 'Ms', 'Sir']
    if title in white_list:
        return title
    else:
        return 'Rare'

combined['Title'] = combined['Name'].map(lambda name: process_title(name))
title_dummies = pd.get_dummies(combined['Title'], prefix="Title")
combined = pd.concat([combined, title_dummies], axis=1)
combined.drop('Title', axis=1, inplace=True)

# dropping feature that aren't useful
combined = combined.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

print()
print("===resultant dataset===")
print(combined.head())

# now we need to scale / normalise the value
features = list(combined.columns)
combined[features] = combined[features].apply(lambda x: (x - x.mean()) / (x.max()-x.min()), axis=0)

print()
print("===normalized dataset===")
print(combined.head())

===resultant dataset===
   Pclass   Age  SibSp  Parch     Fare  Embarked_C  Embarked_Q  Embarked_S  Sex_female  Sex_male  Title_Lady  Title_Master  Title_Miss  Title_Mr  Title_Mrs  Title_Ms  Title_Rare  Title_Sir
0       3  22.0      1      0   7.2500           0           0           1           0         1           0             0           0         1          0         0           0          0
1       1  38.0      1      0  71.2833           1           0           0           1         0           0             0           0         0          1         0           0          0
2       3  26.0      0      0   7.9250           0           0           1           1         0           0             0           1         0          0         0           0          0
3       1  35.0      1      0  53.1000           0           0           1           1         0           0             0           0         0          1         0           0          0
4       3  35.0      0      0   8.0500           0           0           1           0         1           0             0           0         1          0         0           0          0

===normalized dataset===
     Pclass       Age     SibSp     Parch      Fare  Embarked_C  Embarked_Q  Embarked_S  Sex_female  Sex_male  Title_Lady  Title_Master  Title_Miss  Title_Mr  Title_Mrs  Title_Ms  Title_Rare  Title_Sir
0  0.352559 -0.093990  0.062643 -0.042781 -0.050809   -0.206264   -0.093965    0.300229   -0.355997  0.355997   -0.000764       -0.0466   -0.198625  0.421696  -0.150497 -0.001528   -0.022918  -0.000764
1 -0.647441  0.106436  0.062643 -0.042781  0.074175    0.793736   -0.093965   -0.699771    0.644003 -0.644003   -0.000764       -0.0466   -0.198625 -0.578304   0.849503 -0.001528   -0.022918  -0.000764
2  0.352559 -0.043883 -0.062357 -0.042781 -0.049492   -0.206264   -0.093965    0.300229    0.644003 -0.644003   -0.000764       -0.0466    0.801375 -0.578304  -0.150497 -0.001528   -0.022918  -0.000764
3 -0.647441  0.068856  0.062643 -0.042781  0.038684   -0.206264   -0.093965    0.300229    0.644003 -0.644003   -0.000764       -0.0466   -0.198625 -0.578304   0.849503 -0.001528   -0.022918  -0.000764
4  0.352559  0.068856 -0.062357 -0.042781 -0.049248   -0.206264   -0.093965    0.300229   -0.355997  0.355997   -0.000764       -0.0466   -0.198625  0.421696  -0.150497 -0.001528   -0.022918  -0.000764

In [16]:
train0 = pd.read_csv('dataset/titanic/train.csv')

targets = train0.Survived
train = combined[0:891]
test = combined[891:]

# perform a logistic regression algorithm

logreg = LogisticRegression(verbose=1)

logreg.fit(train, targets)

print(logreg.score(train, targets))

# getting prediction for the test set

Y_pred = logreg.predict(test)

test_df = pd.read_csv('dataset/titanic/test.csv')

submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })

submission.to_csv('dataset/titanic/output.csv', index=False)

[LibLinear]0.83164983165